@using System.Globalization
@using System.Text.Json
@using Grpc.Core
@using SpotFinder.Shared.Protos
@using SpotFinder.Web.Components
@using SpotFinder.Web.Components.Layout
@using SpotFinder.Shared
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Google
@inject NavigationManager Nav
<AuthorizeView>
    <NotAuthorized>
        <NavLink class="nav-link" href="/google-login">
            <span class="btn btn-sm btn-outline-primary" aria-hidden="true">Login</span>
        </NavLink>
    </NotAuthorized>
    <Authorized>
        <div class="d-flex align-items-center gap-3">
            <span class="navbar-text text-dark small fw-bold">
                Hello, @(context.User.Identity?.Name ?? "User")
            </span>
            <!-- Кнопка выхода тоже должна делать полный редирект -->
            <a class="btn btn-sm btn-outline-danger" href="/logout">Logout</a>
        </div>

        <a href="my-spots" class="btn btn-sm btn-light text-primary fw-bold me-3 shadow-sm">
            💼 My Cabinet
        </a>
    </Authorized>
</AuthorizeView>
@code{
    private void Logout() => Nav.NavigateTo("/logout", forceLoad: true);
}